<div class="col-md-2" style="border-bottom: 0px dotted black;">


<h5 class="awesome-gray">Popular Cities</h5>

<ul class="awesome-gray">
	<li class="awesome-gray"><%= link_to "Atlanta", :controller => "books", :location => "Atlanta" %></li>
	<li><%= link_to "Baltimore", :controller => "books", :location => "Baltimore, MD" %></li>
	<li><%= link_to "Boston", :controller => "books", :location => "Boston" %></li>
	<li><%= link_to "Chicago", :controller => "books", :location => "Chicago" %></li>
	<li><%= link_to "Houston", :controller => "books", :location => "Houston" %></li>
	<li><%= link_to "Philadelphia", :controller => "books", :location => "Philadelphia" %></li>
	<li><%= link_to "SF", :controller => "books", :location => "San Francisco" %></li>
	<li><%= link_to "Seattle", :controller => "books", :location => "Seattle" %></li>
	<li><%= link_to "Wash DC", :controller => "books", :location => "Washington, DC" %></li>
</ul>

</div>